[Unit]
Description=PC Cartridge System (%i)
BindsTo=dev-%i.device
After=dev-%i.device

[Service]
Type=oneshot
User=__USERNAME__
ExecStart=/usr/local/bin/pc-cartridge-system-helper %i